.user-profile {
    display: flex;
    gap: 60px;
    justify-content: center;
    .container {
        display: flex;
        flex-direction: column;
    }
    .colors-map {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $clr1;
        border-radius: 10px;
        padding: 30px;
        .color-and-desc-cont {
            display: flex;
            gap: 5px;
            align-items: center;
            .color-div {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: #fff;
                aspect-ratio: 1/1;
            }
            .blue {
                background-color: cornflowerblue;
            }
            .red {
                background-color: indianred;
            }
            .yellow {
                background-color: goldenrod;
            }
            .purple {
                background-color: #9a57f1;
            }
        }
    }
    .user-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $clr1;
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;
        // flex-grow: 1;
    }
    .title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .user-tags {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $clr1;
        border-radius: 10px;
        padding: 10px 30px 30px 30px;
        .tags-paginator {
            background-color: transparent;
        }
        .tags-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            width: 400px;
            margin-top: 10px;
            a:only-child {
                margin: 0 auto;
            }
            .tag-card {
                background-color: $clr1;
                color: cornflowerblue;
                padding: 10px 10px;
                border-radius: 10px;
                box-shadow: 0px 0px 20px 5px;
                transition: all 0.2s ease-in-out;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
                justify-content: space-between;
                width: 180px;
                cursor: pointer;
                &:hover {
                    box-shadow: 0px 0px 20px 10px;
                }
                .pet-image {
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    border-radius: 10px;
                }
                .tag-image {
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                }
            }
            .lost {
                color: indianred;
            }
            .pending {
                color: goldenrod;
            }
            .inactive {
                color: #9a57f1;
            }
        }
        .empty {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.edit-info-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .field {
        display: flex;
        flex-direction: column;
        gap: 4px;
        label {
            margin-left: 3px;
        }
    }
}

@media only screen and (max-width: 750px) {
    .user-profile {
        flex-direction: column;
        .user-tags {
            .tags-list {
                width: auto;
                justify-content: center;
            }
        }
        .colors-map {
            margin-bottom: 20px;
        }
    }
}
