.tag-manage {
    display: flex;
    gap: 80px;
    .tag-info {
        width: 700px;
        > div {
            height: 60px;
        }

        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1,
        h2 {
            margin-right: 10px;
            display: inline;
            color: blueviolet;
        }
        .show-info-container {
            display: flex;
            align-items: center;
            // gap: 30px;
            .data {
                display: inline;
                width: 400px;
                h2 {
                    color: aqua;
                    display: inline;
                }
                p {
                    display: inline;
                    font-size: 1.2rem;
                }
            }
            .btns {
                display: inline-flex;
                align-items: center;
            }
        }
        .edit-info-container {
            display: flex;
            transition: all 1s;
            align-items: center;
            // gap: 30px;
            .data {
                display: inline;
                width: 400px;
                .inputField {
                    // background-color;
                    width: 200px;
                }
                .textAreaField {
                    resize: none;
                }
            }
            .btns {
                display: inline-flex;
                align-items: center;
                gap: 10px;
                // flex-grow:;
            }
        }
    }
    .tag-scan-preview {
        width: 240px;
        height: 420px;
        font-size: 10px;
        background-color: #fff;
        overflow: hidden;
        .dog-scan-page {
            width: 150px;
        }
    }
    .tag-infoo {
        width: 200px;
        height: 100px;
        background-color: beige;
    }
}
