.tag-scan-page {
    display: flex;
    justify-content: center;
    .tag-info-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 40%;
        padding: 30px;
        border-radius: 20px;
        background-color: $clr1;
        gap: 20px;
        p{
            font-size: 1.8rem;
        }
    }
    .tag-image {
        border-radius: 10px;
        width: 40%;
    }
    .contact-owner {
        .icons-btns {
            margin-top: 10px;
            display: flex;
            gap: 20px;
            justify-content: center;
            h3 {
                margin-bottom: 10px;
            }
            i {
                font-size: 3rem;
            }
            .whatsapp {
                color: greenyellow;
            }
            .phone {
                color: cornflowerblue;
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .tag-scan-page {
        .tag-info-container {
            width: auto;
            padding: 16px;
            margin-bottom: 40px;
            p {
                font-size: 1.4rem;
            }
        }
        .tag-image {
            width: 80%;
        }
    }
}
